*{
    margin: 0;
    padding: 0;
  }
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.customBtn{
    background: #289BDE;
    border: 1px solid #289BDE;
    border-radius: 5px;
    color: #fff;
}
.customBtn:hover{
    color: #289BDE;
    background-color: #fff;
} 
/* ========Navigation CSS Start========== */
.navbar .navbar-brand{
    font-weight: 600;
    font-size: 40px;
    color: #4A4A4A;
}
.navbar .navbar-collapse .nav-item .nav-link{
    font-weight: 400;
    font-size: 18px;
    color: #777777;
}
.navbar .navbar-collapse .register-btn{
    border: 1px solid #289BDE;
    font-size: 20px;
    font-weight: 600;
}
/* ========Navigation CSS End========== */